<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% if (!username) { %>
    <form method="POST" action="/login">
      <input type="text" name="username" />
      <button type="submit">Login</button>
    </form>
  <% } else { %>
    <p>Hello <%= username %>!</p>
    <form method="POST" action="/logout">
      <button type="submit">Logout</button>
    </form>
  <% } %>