<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <style>
    form {
      display: inline-block;
    }
  </style>
</head>
<body>
  <% if (typeof user === 'undefined') { %>
    <form method="POST" action="/login">
      <label>Email: <input type="email" name="email" /></label>
      <label>Password: <input type="password" name="password" /></label>
      <button type="submit">Login</button>
    </form>
  <% } else { %>
    <div>
      Hello <%= user.email %>!
    </div>
    
  <% } %>
  <nav>
    <a href="/urls">
      Main
    </a>
    
    <% if (!user) {%>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    <% } else { %>
      <a href="/logout">Logout</a>
    <% } %>
  </nav>