<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TinyApp</title>
  <style>    
    article {
      max-width: 800px;
      margin: 1em auto;
      border-radius: 3px;
      padding: 2em;
      background: #DDF;
    }
    td .button {
      margin-bottom: 0;
    }
  </style>
  <link rel="stylesheet" href="/css/foundation.css">
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>
  <nav class="top-bar">
    <div class="top-bar-title">
      <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
        <button class="menu-icon dark" type="button" data-toggle></button>
      </span>
      <strong>SuperCoolURLShortener</strong>
    </div>
    <div id="responsive-menu">
      <div class="top-bar-left">
        <ul class="menu">
          <li><a href="/urls">Main</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
        <% if (!user) {%>
          <li><a class="button hollow" href="/login">Login</a></li>
          <li><a class="button primary" href="/register">Register</a></li>
        <% } else { %>
          <li><span>Hello <%= user.email %>!</span></li>
          <li><a class="button hollow" href="/logout">Logout</a></li>
        <% } %>
        </ul>
      </div>
    </div>
  </nav>