<%- include partials/_header %>
 <form action="/register" method="POST" style="margin:150px;">
  <label>
    Username: <input type="email" name="email" placeholder="john@example.com" />
  </label>
  <label>
    Password: <input type="password" name="password" />
  </label>
  <input type="submit" value="Submit">
</form>
<%- include partials/_footer %>