<%- include partials/_header %>
<article>
  <form action="/urls" method="POST">
    <h2>Shorten a URL</h2>
    <label for="longURL">Enter a URL:</label>
    <input id="longURL" type="text" name="longURL" placeholder="http://">
    <button class="button" type="Submit">Submit</button>
  </form>
</article>
<%- include partials/_footer %>