<%- include partials/_header %>
<% for (let key in urls) { %>
<div>
  <code><strong><%= key %>:</strong> <%= urls[key] %></code>
</div>
<% } %>
<a href="add">Add a new link</a>
<%- include partials/_footer %>
