<%- include partials/_header %>
<ul>
  <% for (let key in urls) { %>
  <li>
    <code><strong><%= key %>:</strong> <%= urls[key] %></code>
  </li>
  <% } %>
</ul>
<a href="add">Add a new link</a>
<%- include partials/_footer %>
